* {
  margin: auto;
  padding: 0;
}

body {
  overflow: hidden;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

header {
  width: 1398px;
  height: 80px;
  background-color: pink;
  padding: ;
  display: flex;
}

nav {
  display: flex;
  flex-direction: row;
  position: static;
}

.container-header {
  width: 1250px;
  height: 60%;

  justify-content: center;
  background-color: blueviolet;
}

.image-logo {
  width: 20px;
  height: auto;
}

.texto-logo {
  width: 100px;
  height: auto;
}
